@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base/normalize";
@import "base/base-styles";
@import "base/typography";
@import "base/variables";

@import "pages/index";

h1 {
  font-family: handwriting;
}

h2 {
  font-weight: 500;
}

html {
  background-color: #acfcee;
}

.App {
  background-color: #d1fdee;
  text-align: center;
}

.font-handwriting {
  font-family: handwriting, sans-serif;
}

.font-sniglet {
  font-family: Sniglet, sans-serif;
}

.font-livvic {
  font-family: Livvic, sans-serif;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* topnav styling */
.topnav {
  display: flex;
  align-items: center;
  background-color: #acfcee;
  color: #f2f2f2;
  font-size: 5rem;
  height: 6rem;
  font-weight: 900;
  width: 35vw;
  min-width: 300px;
  border-radius: 0 0 30px 30px;
  transition-duration: 0.5s;
  justify-content: space-around;
}

.nav-link {
  color: #7dc3ee;
  font-weight: 900;
  text-decoration: none;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;

  &:hover {
    color: #076dab;
    transition-duration: 0.5s;
  }
}

.topnav .active {
  color: #076dab;
}

.text-block {
  color: #585153;
  font-size: 1.6rem;
  width: 65%;
  min-width: 200px;
  padding-bottom: 10%;
  line-height: 2;
}

h1 {
  color: #3c7e68;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0;
  line-height: 75%;
}

.subtitle {
  color: #36b5b0;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: Sniglet;
  font-size: 2rem;
}

/* work page styling */
.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 2rem;
  width: 100%;
  background-color: rgba(206, 206, 206, 0.9);
  border-radius: 20px;
  padding: 2rem;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  max-width: max-content;
  padding-bottom: 40px;
}

// .portfolio-list-image {
//   width: 100%;
//   margin-bottom: 20px;
// }

a:link {
  color: #5e6969;
  font-weight: 600;
}

a:visited {
  color: #5e6969;
}

ul {
  list-style-type: none;
}

.contact-item {
  width: fit-content;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.contact-image {
  width: 20px;
  margin: 0 15px;
}

/* -------- footer styling ----------------------- */
.footer {
  background-color: $MediumGreen;
}

.footer-nav {
  font-size: 4rem;
}

/* -------- swiper styling ----------------------- */

.swiper {
  height: 500px;
}

@media screen and (min-width: 480px) {
  .swiper {
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    height: 700px;
  }
}
.swiper-slide {
  // height: 400px;
  display: flex;
  // background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.7);

  &.swiper-slide-active {
    transform: scale(1.7);
    z-index: 1;
  }
}
// .swiper-slide__content {
//   height: 400px;
// }
